// Back to top button
.back-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    display: none;
    @include size(40px);
    color: $white;
    border: none;
    outline: none;
    border-radius: 50%;
    background: $main-color; 
}