//- Fixed-contact
-
    let contact = [
        "./assets/img/hotline.png",
        "./assets/img/icon-zalo.png",
        "./assets/img/icon-message.png"
    ]
mixin fixed-contact
    .fixed-contact
        each icon in contact
            a.fixed-contact-item(href="#"): img.img-fluid(src=icon)