//-  Footer-contact
mixin footer-contact
    section.section.footer-contact.section--border-bottom
        .container
            .row
                .col-md-6
                    h5.contact-title.text-uppercase Văn phòng Hà Nội
                    .contact-content
                        .row
                            .col-1
                                i.fa.fa-home
                            .col-3
                                b Địa chỉ:
                            .col-8
                                a(href="#") 
                                    | C24  Đồng Dưa, Ngô Thì Nhậm, Hà Đông 
                                    i.fa.fa-external-link-alt
                        .row
                            .col-1
                                i.fa.fa-phone
                            .col-3
                                b Điện thoại:
                            .col-8
                                a(href="tel:09049.22223") 09049.22223
                        .row
                            .col-1
                                i.fa.fa-envelope
                            .col-3
                                b Email:
                            .col-8
                                a(href="mailto:noithatanhung.vn@gmail.com") noithatanhung.vn@gmail.com
                        br
                        .row
                            .col-1
                                i.fa.fa-chess-queen
                            .col-11
                                span.text-uppercase Xưởng sản xuất:
                        .row
                            .col-1 | 
                            .col-11
                                a(href="#") KM 27, Quốc lộ 6A, Thôn Phù Yên, Xã Trường Yên, H. Chương Mỹ
                .col-md-6
                    h5.contact-title.text-uppercase Văn phòng Hồ Chí Minh
                    .contact-content
                        .row
                            .col-1
                                i.fa.fa-home
                            .col-3
                                b Địa chỉ:
                            .col-8
                                a(href="#") 
                                    | 43-45 Đường 12 Khu nhà CITYLAND, P10, Gò Vấp 
                                    i.fa.fa-external-link-alt
                        .row
                            .col-1
                                i.fa.fa-phone
                            .col-3
                                b Điện thoại:
                            .col-8
                                a(href="tel:0969.320.522") 0969.320.522
                        .row
                            .col-1
                                i.fa.fa-envelope
                            .col-3
                                b Email:
                            .col-8
                                a(href="mailto:noithatanhung.hcm@gmail.com") noithatanhung.hcm@gmail.com
                        br
                        .row
                            .col-1
                                i.fa.fa-chess-queen
                            .col-11
                                span.text-uppercase Xưởng sản xuất:
                        .row
                            .col-1 | 
                            .col-11
                                a(href="#") Đường Số 128, Phước Long A, Quận 9

//- Footer-main
mixin footer-main
    section.section.footer-main.section--border-bottom
        .container
            .row
                .col-md-4
                    h5.footer-title Fanpage
                    img(src="./assets/img/logo.png" alt="Fanpage")
                    br
                    br
                    p Quý khách hàng liên hệ phản ánh về chất lượng dịch vụ theo số hotline: 
                        a(href="tel:0904 922 223") 0904 922 223
                
                .col-md-3
                    h5.footer-title Hỗ trợ
                    ul.text-capitalize.pl-3
                        li: a(href="#") Quy trình làm việc
                        li: a(href="#") Bảo hành - Đổi trả
                        li: a(href="#") Hình thức thanh toán
                        li: a(href="#") Vận chuyển - Giao nhận
                        li: a(href="#") Chính sách bảo mật
                .col-md-5
                    h5.footer-title Công ty sản xuất nội thất An Hưng
                    p
                        i.fa.fa-globe-americas
                        |  
                        strong Giấy phép kinh doanh số:
                        |  0107017623 do phòng Kinh doanh sở KH&ĐT TP Hà Nội cấp ngày: 06/10/2015
                    br
                    p
                        i.fa.fa-credit-card
                        |  
                        strong Ngân hành BIDV: Trần Đăng Dũng
                        |  1991.0000.263.050
                    p
                        i.fa.fa-credit-card
                        |  
                        strong TECHCOMBANK: Trần Đăng Dũng
                        |  1902.3397.720.013
                    p
                        a(href="#"): i.fab.fa-facebook-square
                        |  
                        a(href="#"): i.fab.fa-twitter-square
                        |  
                        a(href="#"): i.fab.fa-linkedin
                        |  
                        a(href="#"): i.fab.fa-youtube-square
                    p Mở cửa: 8h30 - 20h30 kể cả thứ 7 và CN, có vị trí đậu xe ôtô

//- Copyright
mixin copyright
    section.copyright
        .container
            span © Copyright 2019 - Bản quyền thuộc về <strong>Nội thất An Hưng</strong>. Mọi sự sao chép đều phải ghi nguồn và được sự cho phép bằng văn bản của chúng tôi.
