.top{
  color: $top-txt;
  font-size: 13px;
  &--bg{
    background: $top-bg;
  }
  a{
    color: $top-txt;
    display: block;
    padding: .5rem 1rem;
  }
  span{
    display: block;
    padding: .5rem 0;
  }
}
