//- This function no longer be used
//- Navbar
nav.navbar.navbar-expand-md.navbar-dark
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarContent")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarContent
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link.text-uppercase(href="index.html")
          i.fa.fa-home
          |  Trang chủ
      li.nav-item
        a.nav-link.text-uppercase(href="about.html") Giới thiệu
      li.nav-item.dropdown
        a.nav-link.text-uppercase.dropdown-toggle#navProject(href="project.html", data-toggle="dropdown") Dự án
        .dropdown-menu
          a.dropdown-item(href="project.html") Đã thi công
          a.dropdown-item(href="project.html") Dự thiết kế
          a.dropdown-item(href="project.html") Dự án lẻ
      li.nav-item.dropdown
        a.nav-link.text-uppercase.dropdown-toggle#navWalnut(href="#", data-toggle="dropdown") Nội thất gỗ óc chó
        .dropdown-menu
          a.dropdown-item(href="#") Bàn sofa
          a.dropdown-item(href="#") Giường
          a.dropdown-item(href="#") Tủ
      li.nav-item.dropdown
        a.nav-link.text-uppercase.dropdown-toggle#navProduct(href="product.html", data-toggle="dropdown") Sản phẩm khác
        .dropdown-menu
          a.dropdown-item(href="product.html") Bàn sofa
          a.dropdown-item(href="product.html") Bàn tròn
      li.nav-item
        a.nav-link.text-uppercase(href="price.html") Báo giá
      li.nav-item
        a.nav-link.text-uppercase(href="video.html") Video
      li.nav-item
        a.nav-link.text-uppercase(href="lien-he.html") Liên hệ