include ../components/top
include ../components/navigation

header#top
  .top.top--bg
    .container
      .d-flex.justify-content-between
        +top({text: 'Hỗ trợ', link: '#'}, {text: 'Đại lý', link: '#'}, {text: 'Tra cứu', link: '#'})
        +top({text: 'Đăng ký', link: '#'}, {text: 'Đăng nhập', link: '#'})
  .nav-container
    .container
        +nav('nav-main', 'navigation')