body{
    font-size: 14px;
}

/* Logo */
.header-logo{
    background-color: rgba(2, 36, 14, 0.9);
}

/* Navigation */
.nav-container{
    color: #f1ecad;
    background-color: #064d1d;
    border-bottom: 4px solid #f1ecad;
}
.noti-nav{
    background-color: #3b311d99;
}
.noti-link,
.noti-link:hover{
    color: #f1ecad;
    padding: 5px;
}
.back-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    display: none;
    height: 40px;
    width: 40px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 50%;
    background: #066725; 
}
/*
.back-to-top:hover{
    color: #066725;
    background: transparent;
    border: 1px solid #066725;
}
*/
/* Fixed-contact */
.fixed-contact{
    display: block;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 99;
}
.fixed-contact-item{
    display: block;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 0 50% 50% 0;
    box-shadow: 0 1px 3px #333;
    background: #064d1dcc;
    margin-bottom: 2px;
    transition: .3s;
}
.fixed-contact-item:hover{
    background: #064d1d;
}

/* Breadcrumb */
.breadcrumb-bg{
    background: #f1f1f1;
    font-size: small;
}
.breadcrumb{
    background-color: transparent;
    border-radius: 0;
}
.breadcrumb-item > a{
    color: #064d1d;
}


/* Slider */
.slide-img{
    width: 100%;
}

/* LAYOUT */
.section {
    padding: 30px 0;
}
.header-underline{
    border-bottom: 1px solid rgba(6, 77, 29, 0.4);
}
.section-bg-brand{    
    background: transparent url('../img/LogoBranding.png') no-repeat;
    background-size: contain;
}
.section-bg-gray {
    background: #eeeeee;
}
.section-bg-green{
    background: #064d1d;
}
.section-bg-dark-green{
    background: #072813;
}
.section-border-bottom{
    border-bottom: 2px solid #efbc43;
}
.section-border-top{
    border-top: 2px solid #efbc43;
}
.section-header{
    padding: 10px 15px;
    margin-bottom: 20px;
}
.section-name{
    font-weight: bold;
    margin: 0;
}
.section-title{
    color: #064d1d;
}
.section-title-light{
    color: #f1ecad;
}
.btn-readmore{
    color: #ffffff;
    background: #064d1d;
    border-radius: 20px;
    padding: 6px 20px;
    font-size: .85em;    
    text-transform: uppercase;
}
.btn-readmore:hover{
    border: 1px solid #064d1d;
    background: #ffffff;
    color: #064d1d;
}

/* Info */
.info{
    position: relative;
    margin-bottom: 20px;    
    background: #f5f5f5;
    padding: 25px;
    border: 1px solid #eaeaea;
}
.info-inline-block{
    display: inline-block;
    overflow: hidden;
}
.info-block{
    width: 100%;
}
.thumbs-circle{
    display: inline-block;
    height: 100px;
    width: 100px;
    background: #4d8737;
    border-radius: 50%;
}

/* Detail */
.detail-title{
    display: inline-block;
    padding: 6px 0;
    margin-bottom: 15px;
}
.detail-bg-gray{
    border: 1px solid #eaeaea; 
    background: #f5f5f5;
}
.detail-bg{
    padding: 15px;
    border: 1px solid #eaeaea;
}
.detail-register{
    background: #064d1d url("../img/LogoBranding.png") no-repeat;
    color: #fff;
    padding: 15px;
}
.detail-link{
    display: inline-block;
    padding: 10px 20px;
    color: #064d1d;
    font-weight: 600;
}
.detail-link.active,
.detail-link:hover{
    color: #fff;
    background-color: #064d1d;
    text-decoration: none;
}
.light-underline{
    border-bottom: 1px solid #fff;
}

/* Other product */
.other-product{
    display: block;
    color: #333;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 1px 1px 2px #eaeaea;
}
.other-product:hover{
    color: #066725;
    text-decoration: none;
}
.other-product-item{
    overflow: hidden;
}
.other-product-img{
    width: 100%;
    transition: .3s;
}
.other-product-img:hover{
    transform: rotate(2deg) scale(1.2);
}
.other-product-detail{
    display: block;
    padding: 30px 20px;
    font-weight: 600;
}
.search{
    display: none;
}

/* Other list */
.section-other-left{
    padding-left: 15px;
}
.section-header-other{
    padding: 10px 0;
}
.other-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.other-list>li>a{
    display: block;
    color: #666;
    padding: 6px 0;
    font-weight: 600;
    transition: padding .3s;
}
.other-list>li>a:hover{
    text-decoration: none;
    padding-left: 12px;
    color: #f1ecad;
    background: #064d1d;
}
.other-list>li{
    border-bottom: 1px solid #064d1d1a;
}
.other-list>li:last-child{
    border: none;
}
.txt-readmore{
    color: #666;
    display: inline-block;
    padding: 6px 0;
}
.txt-readmore:hover{
    color: #064d1d;
}

/* Side content */
.side-content{
    padding: 15px;
    border: 1px solid #eaeaea;
}
.side-title{
    color: #064d1d;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
}
.side-list{
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}
.side-list>li,
.side-item{
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
}
.side-item>i{
    transition: margin .3s;
}
.side-item:hover{
    color: #066725;
    text-decoration: none;
}
.side-item:hover>i{
    margin-right: 10px;
}


/* About */
.about-cover{
    margin: 20px auto;
    padding: 15px 0;
    max-width: 820px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.96);
}
.about-list{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #947636;
}
.about-item > h5{
    margin: 0;
}
.about-item:not(:last-child){    
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(148, 118, 54, 0.08);
}
.about-item-title{    
    color: #947636;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 5px;
}
.about-item-title:hover{
    color: #064d1d;
    text-decoration: none;
}
.about-item-desc{
    font-size: smaller;
}

/* Product */
.product-link{
    color: #7d7d7d;
    font-size: 2em;
    font-weight: bold;
}
.product-link:hover{
    text-decoration: none;
    color: #7d7d7d;
}
.product-item{
    position: relative;
    margin-bottom: 30px;
}
.product-label{
    position: absolute;
    top: 2rem;
    left: 3rem;
}


/* Contact */
.contact-title{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Footer */
footer,
footer a,
footer a:hover{
    color: #f1ecad;
}
.footer-title{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-contact{
    background-color: #064d1d;    
}
.footer-bg{
    background: url("../img/LogoBranding.png") no-repeat #072813;
}
.copyright{
    background: #0000006b;
    font-size: small;
    padding: 10px 0;
}