//- commons
include ../includes/commons/header
include ../includes/commons/footer
include ../includes/commons/sticky-top
include ../includes/commons/fixed-contact
include ../includes/commons/btn-back-to-top
include ../includes/commons/current-page


//- modules
include ../includes/modules/carousel
include ../includes/modules/section
