//- About-list
-
    const aboutList = [
        {title: 'Thư mời hợp tác', desc: 'Lorem ipsum content lorem ipsum content'},
        {title: 'Quá trình phát triển', desc: 'Lorem ipsum content lorem ipsum content'},
        {title: 'Năng lực cạnh tranh', desc: 'Lorem ipsum content lorem ipsum content'},
        {title: 'Triết lý kinh doanh', desc: 'Lorem ipsum content lorem ipsum content'}
    ]