// Color
$main-color              : #064d1d;
$light-color             : #f1ecad;
$dark-green              : #072813;
$border-color            : #efbc43;
$white-color             : #eaeaea;
$white-color2            : #eeeeee;
$white-bg                : #f1f1f1;
$yellow-color            : #947636;
$gray-color              : #666666;
$gray-color2             : #333333;
$gray-color3             : #7d7d7d;
$gray-bg                 : #f5f5f5;
$green-color             : #066725;
$white                   : #ffffff;
$black                   : #000000;
$neon-light              : #3aad1c;
$neon-dark               : #175407;

// Screen size
$screen-xs               : 480px;
$screen-sm               : 576px;
$screen-md               : 768px;
$screen-lg               : 992px;
$screen-xl               : 1200px;