// Color
$main-color              : #427cff;
$dark-blue               : #050d2f;
$top-txt                 : #999999;
$top-bg                  : #002346;
$white                   : #ffffff;
$black                   : #000000;
$neon-light              : #3aad1c;
$neon-dark               : #175407;

// Screen size
$screen-xs               : 480px;
$screen-sm               : 576px;
$screen-md               : 768px;
$screen-lg               : 992px;
$screen-xl               : 1200px;