// Back to top button
.back-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    display: none;
    @include size(40px);
    color: $white;
    border: none;
    outline: none;
    border-radius: 50%;
    background: $green-color; 
}

// Fixed-contact
.fixed-contact{
    display: block;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 99;
}
.fixed-contact-item{
    display: block;
    @include size(50px);
    padding: 5px;
    border-radius: 0 50% 50% 0;
    box-shadow: 0 1px 3px $gray-color2;
    background: rgba($main-color, $alpha: 0.8);
    margin-bottom: 2px;
    transition: .3s;
    &:hover{
        background: $main-color;
    }
}

