// footer style
footer,
footer a,
footer a:hover{
  color: $light-color;
}
footer a:hover{
  text-decoration: underline;
}
.footer-main li{
  list-style: disc;
}
.footer-title{
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-contact{
  background-color: $main-color;    
}
.footer-bg{
  background: url("../img/LogoBranding.png") no-repeat $dark-green;
}

// Contact
.contact-title{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

// Copyright
.copyright{
  background: rgba($black, $alpha: 0.4);
  font-size: small;
  padding: 10px 0;
}